---
import Layout from "../layouts/Layout.astro";
import App from "../components/App.svelte";
---

<Layout title="livePDF - Chat with PDF">
  <main class="grid place-content-center min-h-screen">
    <h1 class="text-6xl opacity-70 font-bold text-center pb-10">
      <section class="container h-auto">
        <App client:idle />
      </section>
    </h1>
  </main>
</Layout>

<style></style>
